.boxBar {
  z-index: 1;
  width: 100%;
  border: 5px solid blueviolet;
  position: fixed;
  top: 0;
  left: 0;
}

.bar {
  height: 21px;
  background: turquoise;
  width: 0%;
}

/* Bordure pour chaque carte Pokémon */
.card {
  border: 1px solid #ccc; /* Couleur du bord */
  width: 18rem;
}